* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #2E282A;;
}

h1 {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-family: 'Miltonian Tattoo', cursive;
    color: ghostwhite;
    text-align: right;
    font-weight: 600;
}

h2 {
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}


button {
    padding: 5px;
    background-color: #17BEBB;
    border: 2px solid #17BEBB;
    border-radius: 2px;
}

button:hover {
    font-style: italic;
    background-color: #107F7D;
    border-color: #107F7D;
    color: ghostwhite;
}

button:active {
    background-color: #92F2F0;
    border-color: #92F2F0;
} 

input {
    border: 2px solid gray;
    height: 30px;
}

#banner {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(45deg, #17BEBB, #000); 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#banner-links a {
    margin: 0;
    padding: 0px 20px;
    color: #F0EFF4;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    border-right: 2px solid white;
    letter-spacing: 2px;
}

#banner-links :last-child {
    border-right: none;
}
#banner-title-and-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tattoo-machine-logo {
    height: 70px;
}

main {
    padding-top: 100px;
    background-color: #C9F8F7;
    width: 80%;
    box-shadow: rgba(46, 40, 42) 0 10px 20px;
}

.my-slider-progress {
    background: #F7F7FF;
}

.my-slider-progress-bar {
    background: #EF3E36;
    height: 5px;
    transition: width 400ms ease;
    width: 0;
}

.splide__slide {
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
}

.splide-slide-text {
    width: 50%;
}

.splide__slide h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 8px black;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
}

.splide__slide p {
    color: white;
    font-style: italic;
    background-color: rgba(46, 40, 42, 0.5);
    display: inline;
}

.splide__slide__1 {
    background-image: url("bilder/tattooartist.jpg");
    background-position: center;
    color: black 20%;
}

.splide__slide__2 {
    background-image: url("bilder/tattooinks.jpg");
    background-position: center;
}

.splide__slide__3 {
    background-image: url("bilder/tattooflashwall.jpg");
    background-position: center;
}

.index-info {
    display: flex;
    flex-direction: column;
}

.index-info-paragraphs {
    display: flex;
    flex-direction: row;
}

.index-info-right-paras {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 70%;
}

.index-info-right-paras p {
    background-color: #F9C80E;
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
}

.index-info-right-paras p:first-of-type {
    width: 65%;
}

.index-info-right-paras p:last-of-type {
    width: 35%;
}

.index-info-left-para {
    width: 30%;
}

.index-info-left-para p {
    background-color: #EF3E36;
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
}

footer {
    font-size: 12px;
    background-color: #2E282A;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.footer-container {
    display: inline-flex;
    width: 80%;
    margin: 20px;
}

.footer-info {
    width: 80%;
    margin: 0 10px;
}

.footer-info p, label {
    color: ghostwhite;
}

.footer-newsletter-signup {
    width: 30%;
    margin: 0 10px
}

#newsletter-signup-text {
    border-radius: 3px 0 0 3px;
    border: none;
    height: 25px;
}

#newsletter-signup-submit {
    height: 25px;
    border-radius: 0 3px 3px 0;
    background-color: #F9C80E;
    border: none;
    text-transform: uppercase;
    color: white;
    margin-left: -5px;
    margin-top: 5px;
}

#newsletter-signup-submit:hover {
    background-color: #C79D05;
}

#tattoo-list-intro h3 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

#tattoo-list-intro p {
    padding: 5px;
}

#whats-your-next-tattoo-container {
    display: flex;
    flex-direction: row;
}

#tattoo-list-container {
    width: 40%;
    margin: auto;
    background-color: #F9C80E;
    overflow: auto;
    width: 50%;
}

#tattoo-idea-examples {
    display: flex;
    flex-direction: row;
    height: 350px; 
    width: 50%;
}

#tattoo-pics {
    background-color: #F9C80E;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#tattoo-pics img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

#tattoo-pics img:hover {
    border: 2px solid black;
}

#focus-image {
    background-color: #EF3E36;
    width: 90%;
}

#focus-image img {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#tattoo-list-container {
    height: 350px;
}

#tattoo-list-element {
    margin: 20px;
    padding: 10px;
}

#tattoo-list-flex-container {
    display: flex;
    flex-direction: row;
}

#tattoo-list-flex-right {
    margin: 5px;
    background-color: #EF3E36;
    width: 80%;
}

#tattoo-list-flex-right ul {
    list-style: none;
    padding-left: 0;
}

#tattoo-list-flex-right li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: ghostwhite;
    border-radius: 2px;
    overflow-x: auto;
}

#delete-item {
    padding: 2px;
    margin: 2px;
}

#input-tattoo-ideas {
    margin: 5px 0px;
    width: 80%;
}

#fieldset-contact fieldset {
    width: 80%;
    margin: 10px auto;
    border: 2px solid #EF3E36;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}

#fieldset-contact fieldset div {
    margin: 0;
    padding: 0 10px;
}

#fieldset-contact fieldset div label {
    color:rgba(46, 40, 42);
}

#section-personal-information input {
    margin-bottom: 10px;
    width: 100%;
}

#section-personal-information input:focus {
    background-color: #92F2F0;
}

#section-customer-questions input {
    margin: 10px 0;
}

#section-buttons button {
    margin: 0 10px;
    padding: 5px;
    background-color: #F9C80E;
    border: 2px solid #F9C80E;
    border-radius: 2px;
}

#section-buttons button:hover {
    background-color: #C79D05;
    border-color: #C79D05;
    font-style: italic;
}

#section-buttons button:active {
    background-color: #F4E6A4;
    border-color: #F4E6A4;
    font-style: italic;
}

#section-buttons button:first-of-type {
    margin-left: 0;
}

.about-us-section {
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
    background-color: #F9C80E;
    border-radius: 5px;
    padding: 10px;
}

.about-us-section:last-of-type {
    margin-bottom: 0px;
}

.about-us-section img {
    width: 20%;
    height: 20%;
    margin: 10px;
}

.about-us-section div {
    margin: 10px;
}

.about-us-section div p {
    margin: 10px 0;
}

.about-us-section div button {
    display: block;
    text-align: center;
}
